<h2>Windfarms</h2>

<h4>All turbine</h4>

<% @turbines.each do |item| %>
  <ul>
    <li><%= link_to item.name, turbine_path(item) %></li>
    <li><%= item.maximum_power %></li>
    <li><%= item.tower_height %></li>
    <li><%= button_to 'delete', turbine_path(item), method: :delete %></li>
  </ul>
<% end %>

<br/>

<%= button_to 'new turbine', new_turbine_path, method: :get%>

<br/>

<%= button_to 'expensive', expensive_turbines_path, method: :get%>
