<h2>Windfarms</h2>

<% if !@turbines.empty? %>
  <h4>All turbines</h4>

  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Maximum power</th>
      <th>Min wind speed (m/s)</th>
      <th>Max wind speed (m/s)</th>
      <th>Tower height (m)</th>
      <th>Rotor diameter (m)</th>
      <th>Delete</th>
    </tr>
    <% @turbines.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.name, turbine_path(item) %></td>
        <td><%= item.maximum_power %></td>
        <td><%= item.min_wind_speed %></td>
        <td><%= item.max_wind_speed %></td>
        <td><%= item.tower_height %></td>
        <td><%= item.rotor_diameter %></td>
        <td><%= button_to 'delete', turbine_path(item), method: :delete %></td>
      </tr>
    <% end %>
  </table>

  <br/>

  <%= button_to 'expensive', expensive_turbines_path, method: :get%>
  <%= button_to 'index', turbines_path, method: :get%>
<% else %>
  <h4>No turbines</h4>
<% end %>

<%= button_to 'new turbine', new_turbine_path, method: :get%>


