<h2>Windfarms</h2>

<h4><%= @turbine.name %></h4>

<ul>
  <li>Tower height: <%= @turbine.tower_height %></li>
  <li>Maximum power: <%= @turbine.maximum_power %></li>
  <li>Min wind speed: <%= @turbine.min_wind_speed %></li>
  <li>Max wind speed: <%= @turbine.max_wind_speed %></li>
  <li>Blades: <%= @turbine.blades %></li>
  <li>Rotor diameter: <%= @turbine.rotor_diameter %></li>
</ul>

<br/>

<%= button_to 'edit', edit_turbine_path, method: :get %>

<br/>

<%= button_to 'delete', turbine_path(@turbine), method: :delete %>

<br/>

<%= link_to 'all turbines', turbines_path %>
