<h2>Windfarms</h2>

<h4><%= @turbine.name %></h4>

<ul>
  <li>Tower height: <%= @turbine.tower_height %></li>
  <li>Maximum power: <%= @turbine.maximum_power %></li>
  <li>Min wind speed: <%= @turbine.min_wind_speed %></li>
  <li>Max wind speed: <%= @turbine.max_wind_speed %></li>
  <li>Blades: <%= @turbine.blades %></li>
  <li>Rotor diameter: <%= @turbine.rotor_diameter %></li>
</ul>